@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100% !important;
  font-family: sans-serif;
  background-color: rgb(34, 34, 34);
}

#root {
  height: 100%;
}

.design-class {
  border: 2px solid #61dafb;
  color: #61dafb;
  transition: all 500ms;
}

.design-class:hover {
  border: 2px solid #61dafb;
  background-color: #61dafb;
  transition: all 200ms;
}

#ARButton {
  display: none;
}

#VRButton {
  display: none;
}
